.container
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "../"} OpiDoki
  %nav.collapse.navbar-collapse.bs-navbar-collapse
    %ul.nav.navbar-nav
      %li
        =link_to "Upcoming", broadcasts_upcoming_path
      %li
        =link_to "Expired", broadcasts_expired_path
