%table.table.table-hover
  %thead
    %tr
      %th Label
      %th Closes At
      %th Url
  %tbody
    - broadcasts.each do |broadcast|
      %tr
        %td=link_to broadcast.label, broadcast_path(broadcast.id)
        %td=broadcast.closes_at
        %td=broadcast.url
