%header
  .container
    .row
      .col-md-4
        %h1 "The only application to facilitate easy GUI-based oracle broadcasts for the muggles."
      .col-md-6.col-md-offset-1.form
        = render :partial => 'form', :locals => {:broadcast => @broadcast}
%main
  %h2 #TODO: listings
