$pink: #E28157;
$dark-green: #99D1AC;
$light-green: #BFDCAC;
$peach: #FAF3BC;
$yellow: #F9DE53;
$dark-blue:#1C638A;
$med-blue: #2B88AD;
$light-blue: #4FA8C7;

$gray: #999999;
$white: #fff;

header{
  background-color: $light-blue;
  color: $white;
  a{color:$white;}
}
