$pink: #E28157;
$dark-green: #99D1AC;
$light-green: #BFDCAC;
$peach: #FAF3BC;
$yellow: #F9DE53;
$dark-blue:#1C638A;
$med-blue: #2B88AD;
$light-blue: #4FA8C7;

$gray: #999999;
$white: #fff;

nav{
  background-color: $white;
  color: $light-blue;
  a{color:$light-blue;}
}
header{
  color: $white;
  background: image-url('header-bg.png') repeat;
  min-height: 400px;
  padding: 100px 0 50px;
  .form{
    input, textarea{
      border-radius: 6px!important;
      margin: 10px 0;
    }
    .btn-lg{
      padding: 8px 30px;
    }
  }
}
main{
}
footer{
}
